body {
    font-size: 10pt;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: white;
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 25pt;
    background-color: black;
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
  }

  h2 {
    font-size: 42px;
    font-weight: 300;   
    color: white;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  video {
      padding-top: 20pt;
      padding-bottom: 15pt;
  }
  
  p {
  }

  span {
  }
  
  img {
    padding: 3pt;
    align-items: center;
  }
  
  a {
    text-decoration: underline;
  }
  
  a {
    color: aquamarine;
  }
  
  footer {
    font-size: 14pt;
    line-height: 16pt;
    text-align: center;
    padding-top: 12pt;
    padding-bottom: 12pt;
  }